{
  "printWidth": 200,
  "useTabs": true,
  "tabWidth": 1,
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": true
}
