body,
.tooltip {
    font-family: "Source Sans Pro", sans-serif;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

.header-bar {
    background-color: #f9322c;
}

.container--narrow {
    max-width: 732px;
}

.header-search-icon {
    position: relative;
    top: 3px;
}

.header-chat-icon {
    cursor: pointer;
    position: relative;
    top: 3px;
}

.avatar-small {
    border-radius: 16px;
    height: 32px;
    margin-right: 5px;
    position: relative;
    top: -3px;
    width: 32px;
}

.avatar-tiny {
    border-radius: 12px;
    height: 24px;
    margin-right: 4px;
    position: relative;
    top: -1px;
    width: 24px;
}

.form-control-title {
    font-size: 2rem;
    font-weight: 500;
}

.body-content {
    color: #292929;
    font-size: 1.2rem;
    line-height: 1.75;
}

.body-content p,
.body-content ul,
.body-content ol {
    margin-bottom: 1.75rem;
}

/* .input-dark {
  background-color: #444;
  border-color: transparent;
  color: #ffffff;
}

.input-dark:focus {
  color: #ffffff;
  background-color: #555;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-dark::-webkit-input-placeholder {
  color: #888;
}
.input-dark::-moz-placeholder {
  color: #888;
}
.input-dark:-ms-input-placeholder {
  color: #888;
}
.input-dark:-moz-placeholder {
  color: #888;
} */

@media (min-width: 768px) {
    .input-dark {
        width: auto;
    }
}

.display-3 {
    font-size: 4.35rem;
}

@media (max-width: 768px) {
    .display-3 {
        font-size: 2.5rem;
    }
}

.form-group {
    position: relative;
}

.liveValidateMessage {
    opacity: 0;
    padding-bottom: 16px;
    padding-top: 6px;
    position: absolute;
    top: -6px;
    transform: translateY(100%);
    transition: all 0.5s ease-out;
    z-index: 1;
}

.liveValidateMessage--visible {
    opacity: 1;
    transform: translateY(0);
}

.form-group input,
.form-group textarea {
    position: relative;
    z-index: 2;
}

textarea.tall-textarea {
    height: 160px;
}

@media (min-width: 768px) {
    textarea.tall-textarea {
        height: 320px;
    }
}

.delete-post-button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

/* Search Overaly */
.search-overlay {
    background-color: rgba(215, 215, 215, 0.911);
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: scale(1.3);
    transition: 0.33s visibility ease-in-out, 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
    visibility: hidden;
    will-change: visibility, transform, opacity;
    z-index: 500;
}

.search-overlay--visible {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}

.search-overlay-icon {
    color: #007bff;
    font-size: 1.4rem;
    margin: 0;
    margin-right: 10px;
}

.live-search-field {
    background-color: transparent;
    border: none;
    color: #007bff;
    flex: 1;
    font-size: 1.1rem;
    outline: none;
}

.live-search-results {
    opacity: 0;
    transform: scale(1.07);
    transition: all 0.3s ease-out;
}

.live-search-results--visible {
    opacity: 1;
    transform: scale(1);
}

.search-overlay-top {
    background-color: #fff;
    /* background-color: rgba(0, 0, 0, .79); */
}

.search-overlay-top .container {
    align-items: center;
    display: flex;
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative;
}

.search-overlay-bottom {
    overflow: auto;
}

.close-live-search {
    color: #292929;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 1;
    opacity: 0.75;
}

@media (min-width: 700px) {
    .live-search-field {
        font-size: 2.5rem;
    }

    .close-live-search {
        font-size: 3rem;
    }

    .search-overlay-icon {
        font-size: 3rem;
    }
}

.close-live-search:hover {
    opacity: 1;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.circle-loader {
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    border: 10px solid rgba(73, 80, 87, 0.2);
    border-radius: 100%;
    border-top-color: #495057;
    box-sizing: border-box;
    height: 65px;
    left: 50%;
    opacity: 0;
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: opacity 0.45s ease-out, visibility 0.45s ease-out;
    visibility: hidden;
    width: 65px;
    will-change: -webkit-transform, transform;
}

.circle-loader--visible {
    opacity: 1;
    visibility: visible;
}

/* End Search Overlay */

/* Chat */
.chat-wrapper {
    background-color: #fff;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 350px;
    opacity: 0;
    position: fixed;
    right: 20px;
    transform: translateY(100%);
    width: 290px;
    z-index: 5;
}

.chat-wrapper--ready {
    transition: all 0.4s ease-in-out;
}

.chat--visible {
    opacity: 1;
    transform: translateY(0);
}

.chat-title-bar {
    background-color: #292929;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 4px 7px;
}

.chat-title-bar-close {
    cursor: pointer;
    opacity: 0.7;
}

.chat-title-bar-close:hover {
    opacity: 1;
}

.chat-log {
    flex: 1;
    overflow: auto;
    padding: 8px;
}

.chat-self,
.chat-other {
    align-items: center;
    display: flex;
    font-size: 0.75rem;
    margin-bottom: 7px;
}

.chat-self {
    padding-left: 25%;
}

.chat-self .chat-avatar {
    margin-left: 6px;
}

.chat-self .chat-message {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.chat-self .chat-message-inner {
    background-color: #007bff;
    border-radius: 12px;
    color: #fff;
    padding: 4px 7px;
    text-align: right;
}

.chat-other {
    padding-right: 25%;
}

.chat-other .chat-avatar {
    margin-right: 6px;
}

.chat-other .chat-message {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.chat-other .chat-message-inner {
    background-color: #f1f0f0;
    border-radius: 12px;
    padding: 4px 7px;
}

.chat-message a {
    color: #212529;
}

.chat-field {
    border: none;
    box-sizing: border-box;
    font-size: 0.75rem;
    outline: none;
    padding: 10px 7px;
    width: 100%;
}
